.cover-container__wrapper {
    background-size: cover;
    background-position: center center;
    width: 100%;
    display: block;
}

.cover-container__wrapper img {
    max-width: 100%;
    height: auto;
}

.swiper-slide {
    overflow: hidden;
}

.cover-container__wrapper.background-class--white,
.cover-container__wrapper .background-class--white {
    background-color: #fff;
}

.cover-container__wrapper .cover-container__left-side,
.cover-container__wrapper .cover-container__right-side {
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
}

@media screen and (min-width: 600px) {
    .cover-container__wrapper {
        display: flex;
    }
    .cover-container__wrapper .cover-container__left-side,
    .cover-container__wrapper .cover-container__right-side {
        display: flex;
        width: 50%;
        align-items: center;
    }
}
